@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* font-family: 'IBM Plex Mono', monospace; */
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: rgb(255, 0, 0);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  scroll-snap-type: y mandatory;
}
a {
  color: var(--text-color);
}

.header {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--bg-color);
}
.logo {
  font-size: 5rem;
  color: var(--main-color);
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  /* font-family: "Faster One"; */
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

section {
  /* border: 2px solid red; */
  min-height: 100vh;
  padding: 0 10rem;
  gap: 10rem;
}
.home-content {
  /* border: 2px solid red; */
  flex: 4;
  text-align: justify;
}
.home-img {
  /* border: 2px solid red; */
  flex: 1;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  max-width: 30rem;
  border-radius: 10%;
  animation: floatImage 3s ease-in-out infinite;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.info {
  margin-top: 2rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6rem;
}

.name {
  color: var(--main-color);
  font-family: "Orbitron", sans-serif;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.social-media {
  display: flex;
}

.social-media a {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  /* background: transparent; */
  /* border: .2rem solid var(--main-color); */
  border-radius: 50%;
  font-size: 5rem;
  color: var(--main-color);
  margin: 5rem 2rem;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 2rem var(--main-color);
}

.btn {
  /* display: inline-block; */
  padding: 1rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--main-color);
  background: var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.about {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: var(--second-bg-color);
}

.about-img {
  /* border: 2px solid red; */
  flex: 1;
  text-align: center;
}
.about-content {
  /* border: 2px solid red; */
  flex: 3;
  text-align: justify;
}

.about-img img {
  max-width: 30rem;
  border-radius: 10%;
  animation: floatImage 3s ease-in-out infinite;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.heading {
    text-align: center;
  font-size: 4.5rem;
}
.about-content h3 {
  font-size: 2rem;
}
.about-content p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6rem;
  margin: 3rem 0;
}
span {
  color: var(--main-color);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-box:hover:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  box-shadow: 0 0 3rem var(--main-color);
}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.5rem;
}

.services-box p{
    font-size: 1.3rem;
    margin: 2rem 1rem;
    text-align: justify;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    /* height: 100%; */
    /* border: 2px solid red; */
}
.portfolio-box{
    width: 30%;
    border-radius: 2rem;
    /* border: 2px solid red; */
    overflow: hidden;

}

.portfolio-box img{
    width: 100%;
    transition: all 1s;

}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    /* display:inline-flex; */
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a{
box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
font-size: 2.4rem;
color:var(--second-bg-color);
}

@media(max-width: 1200px)
{
    html {
      font-size:55%;
    }
}

@media(max-width: 991px)
{
    .header {
     padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px)
{
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
  .home{
    flex-direction: column;
  }
  .home-content h3{
    font-size: 2.6rem;
  }

  .home-content h1{
    font-size: 5rem;
  }
  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
  .about{
    flex-direction: column-reverse;
  }

  .about img{
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2{
    margin-bottom: 3rem;
  }

  .portfolio h2{
    margin-bottom: 3rem;   
  }
  .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px)
{
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width:450px)
{
    html{
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

